
amd64/root/run/udev/data/c188
amd64/root/run/udev/data/c188:0
armhf/root/run/udev/data/c188
armhf/root/run/udev/data/c188:0
amd64/root/run/udev/data/c188:0
armhf/root/run/udev/data/c188:0
amd64/root/run/udev/data/c188:0
armhf/root/run/udev/data/c188:0
